* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial , sans-serif

}
body {
    background: #0f172a;
    color : white;
    min-height: 100vh;

}

head {
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;

}
.status {
    color : #22c55e
    font-size  14px;
}
main {
        min-height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 8%;
    }

    .container {
        max-width: 1100px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;
    }

    .content h1 {
        font-size: 60px;
        line-height: 1.05;
        margin-bottom: 20px;
    }

    .content h1 span {
        color: #38bdf8;
    }

    .motivacional {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .descricao {
        color: #cbd5e1;
        font-size: 17px;
        line-height: 1.6;
        margin-bottom: 30px;
    }

    .botao {
        background: #38bdf8;
        color: #0f172a;
        border: none;
        padding: 15px 30px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .botao:hover {
        background: #7dd3fc;
    }

    .legenda-box {
        background: #020617;
        border: 2px solid #334155;
        border-radius: 20px;
        padding: 35px;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    }

    .legenda-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        color: #94a3b8;
    }

    .legenda {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.4;
    }

    .microfone {
        margin-top: 25px;
        color: #38bdf8;
    }

    footer {
        text-align: center;
        padding: 20px;
        color: #64748b;
    }

    @media (max-width: 800px) {
        .container {
            grid-template-columns: 1fr;
        }

        .content h1 {
            font-size: 45px;
        }
    }